<div id="new_comment_<%= post.id %>">
  <%= form_with(model: [post, Comment.new]) do |form| %>
    <div class="mb-2">
      <%= form.text_area :body,
          class: "form-control",
          placeholder: "Write a comment...",
          value: (params[:reply_to].present? ? "@#{params[:reply_to]} " : "") %>
    </div>
    <%= form.submit "Comment", class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
