<div class="d-flex flex-column justify-content-center text-center mt-5">
  <h1 class="mt-5">Welcome to Instagram Clone</h1>
  <p class="lead">Please register or sign in to continue.</p>
  <%= link_to "Sign up", new_account_registration_path, class: "btn btn-lg btn-success w-5 mx-auto m-1" %>
  <%= link_to "Sign in", new_account_session_path, class: "btn btn-lg btn-secondary w-5 mx-auto " %>

</div>
