<div class="d-flex justify-content-center " >

<%= form_for @post, html: { multipart: true } do |f| %>
  <%= f.file_field :image %>
<%= f.text_area :description, placeholder: "Write something...", class: "form-control" %>


  <%= f.submit "Create Post", class: "btn btn-success" %>

<% end %>

</div>

