<li class="nav-item">
  <%= link_to "Sign In", new_account_session_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Sign Up", new_account_registration_path, class: "nav-link" %>
</li>
